*{
    scroll-behavior: smooth;
}

.order button{
    top: -2.5em;
}


h1{
    color: #5FA3FF;
}


/*................about.................................*/



/*............................................dark_mode.....................................................................*/

.dark{
    color: white;
    background-color: black;
    position: absolute;
    right: 10px;
    margin-top: 5px;
    padding: 3px;
    border-radius: 15px;
    align-items: center;  
    cursor: pointer;
}

.moon,.sun{
    width: 15px;
    cursor: pointer;
}

.dark-mode .dark{
    background-color: white;
}

/*.....................................................................about..................................................................*/


.about{
    background-image: linear-gradient(rgb(255, 255, 255),rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), rgb(255, 255, 255)), url(./image/about_bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 65vh;
    animation-name: about;
    animation-duration: 900s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes about {
    0%   {background-position: bottom;}
    50% {background-position: top;}
    100%  {background-position: bottom;}   
}

.dark-mode .about{
    background-image: linear-gradient(rgb(30, 30, 30),rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5), rgb(30, 30, 30)), url(./image/about_bg.svg);
}
h3{
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    padding: .1em .4em;
}

.about h3{
    background-size: 300%;
    background-clip: text;
    font-weight: 900;
    font-size: 5.2vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg,black,black,black,black,black,black,white, black, black, black, black, black, black, black);
    animation-name: slog;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.dark-mode .about h3{
    background-image: linear-gradient(90deg,white, white, white, white, white,white, black,white, white, white, white, white, white, white, white,white);
}
@keyframes slog {
    0%   {background-position: 0%;}   
    100%  {background-position: 400%; }   
}

.about p{
    margin: 1em 20vh;
    text-align: center;
}

/* .dark-mode .about p{
    mix-blend-mode: difference;
} */
/*

#site{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card_site{
    width: 400px;
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
    
    margin: 1em;
    background-color: #535396;
}
.fi{
    background-image: url(./image/fiverr.png);
    background-size: 300px 100px ;
    background-position: top;
    background-repeat: no-repeat;
}
*/
/*................header................................................................................*/

.item img{
    width: 300px;
    height: 300px;
    margin: 10px;
}

.item p{
    padding: .6em;
    margin: 0;
    font-size: 2.5vh;
}

.item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em 1px;
    margin: 2em 0;
    align-items: center;
    justify-items: center;
}

.details{
    display: flex;
}

.details:nth-child(odd){
    border-right: 1px solid;
    border-image: linear-gradient(rgba(253, 253, 255, 0),#d80303dc,rgba(255, 255, 255, 0)) 1;
    padding-right: 1em;
}

.details:nth-child(even){
    border-left: 1px solid;
    border-image: linear-gradient(rgba(253, 253, 255, 0),#d80303dc,rgba(255, 255, 255, 0)) 1;
    padding-left: 1em;  
}


@media screen and (max-width: 768px){
    .dark-mode .about{
        height: 40vh;
    }

    .about p{
        margin: .5vh 4vh;
    }    

    .item{
        grid-template-columns: 1fr;
        justify-content: space-around;
    }

    .item img{
        width: 45vw;
    }

    .item p{
        font-size: 1.8vh;
    }
    
}


.section{
    background-repeat: repeat;
    background-size: -100px;
    background-position: top;
    margin-top: 10px;
    padding: 2em 0 5em 0;
    background-attachment: fixed;
}

/*...........................#.....web.................................................................*/

#web,#software{
    background-image: url(./image/glob.svg);
}

#gfx,#photo{
    background-image: url(./image/gfx_background.svg);
}

.section .title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin: 1em;
    align-items: center;
}

.title p{
    margin: .5em;
}

.section #title_1{
    justify-items: right;
}

.section #title_2{
    justify-items: left;
}

.section .title img{
    width: 45vw;
}

@media screen and (max-width: 768px) {
    .section .title img{
        width: 95vw;
        right: 50%;
        left: 50%;
    }

    .section .title{
        grid-template-columns: 1fr;
    }
    .section .title:nth-of-type(2) {
        order: 1;
        justify-content: center;
    }

    .title p{
        width: 90vw;
        margin-bottom: 1em;
    }
}




.section_demo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section_demo img{
    height: 260px;
    width: 400px;
    border-radius: 20px;
    background-color: rgba(0, 149, 255, 0.1);
    overflow: hidden;
    transition: all 1.5s;
    object-fit: cover;
}
.section_demo iframe{
    border-radius: 10px;
}

.section_demo img:hover{
    transform: scale(1.05);
}

.section_demo div{
    width: 400px;
    height: 300px;
    margin: 1em;
    overflow: hidden;
}

h5{/*......tag.........................................*/
    margin: 10px 0;
    width: 395px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.price{
    background-color: rgba(0, 149, 255, 0.1);
    border-radius: 5px;
    padding: 4px 10px;
}

.section li{    
    text-shadow: .5px .5px .25px;
    font-size: 16px;
}

.section ul{
    padding: .5em 1em;
}




/*.....#.....gfx..................................................*/
.list{
    display: flex;
    flex-wrap: nowrap;
    font-size: 28px;
    font-weight: 500;
}

#gfx{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    margin-bottom: 10vh;
}
#gfx img{
    max-width: 700px;
}

#gfx li{
    margin-left: 2em;
}

.gfx_text{
    width: 800px;
}




/*...............photo..................................*/

.compar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    cursor: default;
}

.slide,.twentytwenty-container{
    width: 450px;
    border-radius: 5px;
}

.slide{
    padding: .5em 0;
    margin: 1em;
}


/*................#.....animation.............................*/

#motion{
    background-image: url(./image/anim_bg.svg);
}

#anim{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    margin-bottom: 10vh;  
}


/*.........minions_body........................................*/

.minions_body {
    background: #ffffff00 url(./image/Minions-body.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 348px;
    height: 553.7px;
    margin-top: 0px;
}

.eyes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 105px;
}

.eye {
    width: 79.7px;
    height: 68px;
    border-radius: 50%;
    float: left;
    margin: 20px;
    text-align: center;
}

.ball {
    background: url(./image/minion-eye.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 42.3px;
    height: 42.3px;
    border-radius: 50%;
}




/*.........anim sample............**/


#animation h1 {
    color: #3e3e42;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: -1px;
    margin: 10px;
    transform: translateZ(35px);
}

.dark-mode #animation h1{
    color: white;
}
  
#animation h3{
    color: #eb285d;
    font-size: 16px;
    margin-bottom: 10px;
    transform: translateZ(25px);
}
  
#animation {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    perspective: 1920px;
    text-align: center;
    margin: 0;
}
  
.cards {
    background: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 10px 20px 20px rgba(0, 0, 0, 0.17);
    display: inline-block;
    padding: 30px 35px;
    perspective: 1920px;
    text-align: left;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    transform: rotateX(11deg) rotateY(16.5deg);
    min-width: 595px;
    margin: 3em;
}

.dark-mode .cards{
    background-color: #1A1A2E;
    box-shadow: 0px 5px 10px 0px #0e0e18;
}
  
.card{
    border-radius: 15px;
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.6);
    display: inline-block;
    height: 250px;
    overflow: hidden;
    perspective: 1200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translatez(35px);
    transition: transform 200ms ease-out;
    width: 175px;
    text-align: center;
}

.card:not(:last-child) {
    margin-right: 30px;
}
  
.card__img {
    position: relative;
    height: 100%;
}
  
.card__bg {
    bottom: -50px;
    left: -50px;
    position: absolute;
    right: -50px;
    top: -50px;
    transform-origin: 50% 50%;
    transform: translateZ(-50px);
    z-index: 0;
  }
  
  
.card__one .card__img {
    top: 14px;
    right: 30px;
    height: 150%;
}
  .card__one .card__bg {
    background: url("./image/animation_sample_background.png") center/cover no-repeat;
    /*    https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_monobg.jpg   */
  }
  .card__two .card__img {
    top: 25px;
  }
  .card__two .card__bg {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_spirited.jpg") center/cover no-repeat;
  }
  .card__three .card__img {
    top: 5px;
    left: -4px;
    height: 110%;
  }
  .card__three .card__bg {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_howlbg.jpg") center/cover no-repeat;
  }
  .card__text {
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  
  .card__title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 0 10px;
    margin-bottom: 3px;
}

/*.....................anim sample finished...........................*/
  

#anim .box_2 img{
    width: 600px;
}

#anim p{
    max-width: 600px;
}



/*.....#.....video.............................*/

#video{
    background-image: url(./image/video_bg.svg);
    background-size: cover;
    background-position: center;
}

/*............adv...........*/
video,source{
    cursor: default;
    border-radius: 5px;
    background-color: rgba(0, 20, 30, 0.800);
}

#advertisement{
    background-image: url(./image/video_bg.svg);
}

#media_management{
    background-image: url(./image/media_bg.svg);
}

#writing{
    background-image: url(./image/writing_bg.svg);
    background-position: center;
}




/*.....#.....about us.............................*/

#owner{
    text-align: center;
    font-size: 25pt;
    font-weight: 700;
}

.line{
    width: 120vw;
    height: 5px;
    margin: 1.5em -5em;
    background-color: #FA3D3D;
}

.dark-mode .line{
   background-color:#060637 ; 
}

.people{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.people .p1,.p2,.p3{
    width: 55vh;
    height: 350px;
    margin: 2em 0;
    background-repeat: no-repeat;
    background-position:left center;
    background-size: contain;
}

.p1{
    background-image: url(./image/p4.svg);
}
.p2{
    background-image: url(./image/p2.svg);
}
.p3{
    background-image: url(./image/p3.svg);
}

.p1 img,.p2 img,.p3 img{
    margin: 1em 0 0 0em;
    width: 12vh;
    border-radius: 50%;
    background-color: white;
    box-shadow: #767676 1px 1px 10px 1px inset, #7a7a7a 1px 1px 10px 0px;
    border: #fff 3px solid;  
}

.people span{
    font-size: 18pt;
    margin: 1em 0 0 .2em;
    font-weight: 500;
}

.people p{
    width: 300px;
    margin: .2em 0 .3em 5em;
    font-weight: 500;
}


.people ul{
    width: 300px;
    margin: .2em 0 .3em 3em;
    list-style-type: disc;
}
