@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    overflow-x: hidden;
    cursor: url("./icon/cursor_1.png"), default;
}


/*.......................................scrollbar................................*/
/*............width........*/
::-webkit-scrollbar{
    width: 5px;
    transition-property: width;
    transition-duration: 3s;
}

::-webkit-scrollbar:hover{
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey; 
}
   
/* Handle */
::-webkit-scrollbar-thumb{
    background: #d80303dc; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: #b30000;   
}


/*............................................dark_mode.....................................................................*/

.dark-mode{
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
}


/* .......................................nav bar..........................................*/
/*.........side nav..........*/



.dropdown-btn{
    color: white;
    padding: 0 1em;
    cursor: pointer;
}

.active.dropdown-btn{
    text-decoration: underline;
}
.active.dropdown-btn img{
    rotate: 180deg;
}
  
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    padding-left: 1.5em;
    font-size: 80%;
    font-weight: 400;
}

.dropdown-container a{
    margin: 0;
}

/*..............nav dropdown control.............................*/

.dropdown-container_pc{
    display: none;
    font-size: 90%;
    font-weight: 400;
}

.bar{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 42px;
    left: 10em;
}

.dropdown-container_pc a{
    margin: 0;
    padding: 10px 5px 10px 10px;
    background-image: linear-gradient(30deg,#a20e6cde, #09aeaed8);
    box-shadow: #920B0B 3px 2px 6px;
    border-radius: 2px;
    transition: 100ms;
}

.dark-mode .dropdown-container_pc a{
    background-image: linear-gradient(30deg,#1a1a2ee2, #0f3360e1);
    box-shadow: #1A1A2E 3px 2px 6px;
}

.dropdown-container_pc a:hover{
    padding: 15px 5px 15px 10px;
    transition: 100ms;
}


@media screen and (max-width: 950px){/*......................................responsive....................*/
    nav a, .dropdown_phone{
        display: none;
    }
    .dropdown-btn{
        margin-left: 1.3em;
    }
}

@media screen and (min-width: 950px){/*.................max width not working.......F.............*/
    .nav_line{   
    display: none;      
    }
}

.nav_line{
    position: absolute;
    padding: 5px 10px;
    top: 3px;
    left: 0;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg,#a20e6ce3, #09aeae);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.dark-mode .sidenav{
    background-image: linear-gradient(45deg,#1a1a2eea, #0F3460);
}
   
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}
   
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*.........end of side nav..........*/




.nav_logo{
    width: 80px;
    margin: 5px 1em 5px 2em;
}
.drop{
    height: 10px;
    width: 10px;
}

nav{
    height: 40px;
    color: white;
    background-color: #d80303dc;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.5s;
}

.dark-mode nav{
    background-color: #060637;
}

nav a{
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 5px 1vw;
    transition: all 1.5s;
}

nav a:hover{
    text-decoration: underline;
    transition: 2s;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}

li{
    align-self: center;
}


/* search */


.search{
    display: flex;
    align-items: center;
    background-color: #ffffffc1;
    height: 30px;
    align-self: center;
    border-radius: 3px;
}

.dark-mode .search{
    background-color: #0F3460;
}

.search input{
    border: none;
    background-color: transparent;
    height: 30px;
}

.search img{
    width: 20px;
    margin: 0 5px;
}

.search .line_search{
    height: 25px;
    width: 1px;
    margin: 0 5px;
    background-color: #d80303dc;
}

.dark-mode .search .line_search{
    background-color: #060637;
}

.order button{
    padding: 0;
    margin: 0px;
    border: none;
    border-radius: 30px;
    width: 5em;
    height: 2em;
    background-image: linear-gradient(30deg,#A20E6B, #09AEAE);
    position: absolute;
    top: 3px;
    right: 2vw;
    font-size: 14px;
    text-align: center;
    z-index: 11;
}

.dark-mode .order button{
    background-image: linear-gradient(30deg,#E94560, #0F3460);
}


/*..................offer...........*/


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;  
    width: 500px;
    max-width: 80%;
    background: rgba(127, 127, 127, 0.500);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.500);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.50);
}


  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    color: #d80303dc;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(14, 14, 14);
  }
  
  .modal-header .title {
    font-size: 24px;
    font-weight: 700;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 24px;
    font-weight: 700;
  }
  
  .modal-body {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

.modal-body h4{
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

.modal-body .link{
    margin-top: 10px;
    padding: 8px 0;
    display:flex;
    flex-direction: row;
    background-color: rgb(15, 15, 15);
 
}

.modal-body a{
    padding: 0em .5em;
}
.modal-body img{
    margin: 3px;
    width: 25px;
}
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.200);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  .off_btn{   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.off_btn button{
    padding: 5px 0px;
    margin: 5px 10px ;
}


/*...........................................common.............................................*/

img:hover{
    cursor: grab;
}
p, h1, h2, h3 :hover{
    cursor: text;
}
p{
    font-weight: 400;
    font-size: 2.1vh;
    text-align: justify;
}

.dark-mode button{
    box-shadow: #0e0e18 2px 2px 4px;
}

button:hover{
    cursor: pointer;
}

h1{
    margin: 1vh;
    font-weight: 700;
    font-size: 5vw;
}



/*...............................bottom_section.............................*/

#bottom{
    text-decoration: none;
    color: white;
    background-color: #d80303dc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    padding: 1em;
    margin-bottom: 2em;
    justify-content: space-around;
}

.dark-mode #bottom{
    background-color: #060637;
}

#bottom a,i, #bottom h2{
    text-align: left;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    padding: 5px;
   
}

#bottom h2{
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 10px 0;
}

#bottom img{
    width: 20px;   
}

#bottom span{
    padding-left: 5px;
    font-weight: 500;
    font-size: 15px;
}

#bottom a:hover{
    text-decoration: underline;
}

/* .................................................. */
.cp{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid;
    border-image: linear-gradient(to right,rgba(253, 253, 255, 0),rgba(253, 253, 255, 0),#d80303dc,rgba(188, 37, 37, 0),rgba(253, 253, 255, 0)) 1;
    height: 40px;
}

.cp img{
    width: 40px;
    filter: drop-shadow(1px 1px 1px);
}

.cp p{
    font-size: 10px;
    margin: 0;
    padding: 0;
}


button{
    text-shadow: rgba(0, 0, 0, 0.800) 1px 1px 1px;
    font-weight: 500;
}

a button{
    min-width: 125px;
    padding: 8px 2px;
    font-size: 16px;
    margin: 2em 5px ;
    color: white;
    background-color: #d80303dc;
    border: none;
    border-radius: 10px;
    box-shadow: rgb(70, 0, 0) 2px 2px 4px;
}

.dark-mode a button{
    background-color: #060637;
}