header{
    margin-top: 40px;
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--blue_lite);
}

header h1{
    font-size: 18px;
    font-weight: 500;
}

header h2{
    font-size: 30px;
    font-weight: 500;
    margin: .5em;
}

/* header p{
    font-size: 18px;
    font-weight: 400;
} */

header a{
    text-decoration: none;
    padding: .5em 1em;
    margin: 1em;
    border-radius: 20px;
    background-color: var(--blue_lite);
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.dark-mode header a{
    color: white;
}

header a:hover{
    font-weight: 500;
    text-decoration: underline;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}

.buttonContainer button{
    width: 150px;
    height: 50px;
    border: none;
    font-size: 20px;
    text-shadow: none;
}

/* video */

#video, #audio, #animation{
    /* min-width: 102vw; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
    scroll-margin-top: 5em;
}

.video{
    width: 400px;
    height: 260px;
}

#video div{
    margin: 1em;
}

.content h3{
    font-size: 24px;
}

@media screen and (max-width:768px) {
    .video{
        width: 333px;
        height: 217px;
    }
}

/* audio */

.audio_demo{
    display: flex;
    background-color: var(--blue_lite);
    margin: 1em;
}

.audio h1{
    font-size: 18px;
}

.audio,.audio_demo{
    border: 1px dashed var(--blue);
    border-radius: 30px;
    cursor: default;
}