/* removing dark mode.............. */
/* .dark-mode{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
} */

header{
    /* position: absolute; */
    top: 0px;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);  /* animation,video,image */
    /* mix-blend-mode: multiply; */
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    color: rgb(255, 255, 255);
    /* text-shadow: 2px 2px 2px rgba(35, 143, 220, 0.803); */
    z-index: 3;
}

.bg_video{
    position: absolute;
    top: 40px;
  /* margin-top: -80px; */
  width: 100%;
  height: 90vh;
  object-fit: cover;
  z-index: -10;
}

.list{
    background-color: #51c9e1;
    display: flex;
    align-items: center;
    padding:  5px .5em;
    /* position: absolute; */
    margin-top: -5vw;
    width: 100vw;
    /* min-height: 20vh; */
    z-index: 4;
    color: white;
}

.list h1{
    font-size: 40px;
    font-weight: 400;
    margin:  .5em 0;
}

.list h3{
    padding: 5px;
}

.list img{
    max-width: 80px;
    padding: .5em;
}

._{
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

._ img{
    width: 40px;
    mix-blend-mode: difference;
}

.list_project{
    width: 300px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    padding: 0 2em;
}


@media screen and (max-width:768px) {
    .list h1,._{
        font-size: 130%;
    }
    .list img{
        max-width: 60px;
    }   
}

/* ....................produc*.......................... */
#product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4em;
}

.product{
    display: flex;
    flex-direction: column;
    margin: 2em;
    width: 45vw;

}
.product h3{
    font-size: 40px;
    font-weight: 500;
}
.product p{
    font-size: 18px;
}

.product img{
    width: 30px;
    padding-right: .5em;
}

.product div{
    margin: 1em 0;
} 

.product h1{
    display: flex;
    font-size: 30px;
    font-weight: 400;
}

/* ........................project..................................... */
.project{
    text-align: center;
    font-size: 40px;
    margin: 1em 0;
    text-decoration: underline;
}

.web{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    height: 90vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 600px,auto;
    border-bottom: 1px solid red;
}

@media screen and (max-width:950px) {
    .web{
        background-size: 500px,auto;
    } 
    
    .product{
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .web{
        background-position: top right;
        background-size: 400px,auto;
    }
    .dark-mode .web p{
        color: black;
    }  
}

.web h1{
    font-size: 20px;
    font-weight: 400;
    margin: 3em 0;
}

.web h3{
    font-size: 30px;
    font-weight: 400;
}

.web p{
    max-width: 50vw;
    margin: 1em 0;
    font-size: 18px;
}

.application{
    background-image: url(./image/EDF-mockup.png),linear-gradient(45deg,rgba(0, 149, 255, 0.1),#51c9e1);
}

.marketplace{
    background-image: url(./image/InvisibleHomes1@3x.png),linear-gradient(45deg,rgba(0, 149, 255, 0.1),#51c9e1);
}

.mobile{
    background-image: url(./image/Mucho-app1@3x.png),linear-gradient(45deg,rgba(0, 149, 255, 0.1),#51c9e1);
}

.e-com{
    background-image: url(./image/tep1@3x.png),linear-gradient(45deg,rgba(0, 149, 255, 0.1),#51c9e1);
}

.more_project{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 2px solid red;
}


/* ........................................work process........................................ */
.stack h1{
    margin-top: 50px;
    margin-left: 1em;
    font-size: 30px;
}

.stack_item{
    margin: .5em 2em;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(183, 221, 255, 0.600);
}

.stack_item img{
    width: 50px;
    height: 50px;
    padding: .5em;
    margin: .5em;
}

.stack_item h1{
    font-size: 25px;
    font-weight: 400;
    min-width: 150px;
    text-transform: uppercase;
}

@media screen and (max-width:768px) {
    .stack h1{
        font-size: 25px;
    }
    .stack_item h1{
        font-size: 20px;
        min-width: 100px;
    }
    .stack_item img{
        width: 40px;
        height: 40px;
    }   
}

/* ........................................wordpress........................................ */
.wordpress{
    display: flex;
    background-color: #51c9e1;
}

@media screen and (max-width:768px) {
    .wordpress{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }   
}

.wordpress img{
    width: 45vw;
    height: 100%;
}

.wordpress span{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: underline;
}

.dark-mode .wordpress span{
    color: black;
}

.wordpress div{
    padding: 2em;
}