#order{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

#order .card{
    padding: .5em 1em 1em 1.5em;
    box-shadow: 28px 28px 50px #0d275046;
    min-width: 400px;
}

#order img{
    width: 300px;
    /* height: 160px; */
    /* margin: 1em; */
    /* object-fit: cover;
    animation-name: card;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
}

/* 
@keyframes card {
0%   {width: 300px;}
50% {width: 310px;}
100%  {width: 300px;}   
} */

.fiverr{
    box-shadow: 28px 28px 150px #1dbf73, 1px 1px 60px rgba(255, 255, 255, 0.5);
}
.freelancer{
    box-shadow: 1px 1px 60px rgba(255, 255, 255, 0.5), 28px 28px 150px #27b3fe;
}
.upwork{
    box-shadow: 1px 1px 60px rgba(80, 225, 40, 0.2), 28px 28px 150px #2a627c;
}

#order .card{
    margin: 1em;
    box-shadow: 28px 28px 50px #00000046;
}

#order .card p{
    max-width: 400px;
    margin: 1em 0;
    min-height: 100px;
}

#order a{
    text-decoration: none;
    color: black;
    padding: .3em 2em;
    margin: .5em 0;
    border-radius: 20px;
    background-color: rgba(0, 149, 255, 0.1);
}

.dark-mode #order a{
    color: white;
}

#order a:hover{
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.550);
}

#order a:active{
    background-color: #51c9e1;;
}

/* ..........................tab.................... */


.mytabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mytabs input[type="radio"]{
    display: none;
}

.mytabs label {
    padding: 10px;
    background: var(--blue_lite);
    text-align: center;
    font-weight: bold;
    align-items: center;
    min-width: 100px;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    order: 1;
    display: none;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    align-items: center;
    color: white;
    background: var(--blue);
    border-radius: 5px 5px 0px 0px; 
}